{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "php"],
        "plugins": ["line-numbers", "line-highlight", "normalize-whitespace", "remove-initial-line-feed"]
      }
    ]
  ]
}
