// @import "~prismjs/themes/prism";
@import "~prism-theme-one-dark/prism-onedark";
@import "~prismjs/plugins/line-highlight/prism-line-highlight.css";
@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";

pre.wp-block-code {
  @apply -mx-6;
  @apply px-6;

  &.line-numbers {
    padding-left:calc(3em + theme('spacing.6'));
  }

  &[lang] {
    position:relative;

    &:before {
      content:attr(lang);
      position:absolute;
      top:.2rem;
      right:.5rem;
      opacity:.5;
      font-size:.8em;
      text-transform: uppercase;
    }
  }

  >code {
    display:block;

  }

  // .line-numbers {
  .line-numbers-rows {
    border-right-color:rgba(#666, .5);
    opacity:.6;
  }

  @media (min-width: theme('screens.lg')) {
    @apply mx-0;
    @apply px-0;

    &.line-numbers {
      padding-left:3.8em;
    }
  }
}


