// @import "~prismjs/themes/prism";
@import "~prism-theme-one-dark/prism-onedark";
@import "~prismjs/plugins/line-highlight/prism-line-highlight.css";
@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";

pre.wp-block-code {
  @apply -mx-6;
  padding:0;
  overflow:hidden;

  &[lang] {
    position:relative;

    &:before {
      content:attr(lang);
      position:absolute;
      top:.2rem;
      right:.5rem;
      opacity:.5;
      font-size:.8em;
      text-transform: uppercase;
    }
  }

  &[lang="javascript"]:before {
    content:'JavaScript';
    text-transform: none;
  }

  >code {
    @apply p-6;
    display:block;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
  }

  &.line-numbers {
    padding-left:0;

    >code {
      padding-left:3.8em;
    }

    .line-numbers-rows {
      top:theme('spacing.6');
      left:0;
      border-right-color:rgba(#666, .5);
      opacity:.6;
    }
  }

  @media (min-width: theme('screens.md')) {
    @apply mx-0;
  }
}


